
<nav class="main-menu">
  <ul>
    <li>
      <a class="nav-link active-link" [routerLink]="['/home']" routerLinkActive="active-link">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Home
        </span>
      </a>
    </li>
  <li class="has-subnav">
      <a class="nav-link active-link" [routerLink]="['/catalogo']" routerLinkActive="active-link">
        <i class="fa fa-list-ul fa-2x"></i>
       <span class="nav-text">
         Catalogo
       </span>
          </a>
  
        </li>
    <li class="has-subnav">
      <a class="nav-link active-link" [routerLink]="['/internet']" routerLinkActive="active-link">
        <i class="fa fa-globe fa-2x"></i>
        <span class="nav-text">
          Internet
        </span>
      </a>
    </li>
   
    <li class="has-subnav">
      <a class="nav-link active-link" [routerLink]="['/recargas']" routerLinkActive="active-link">
        <i class="fa fa-mobile fa-2x"></i>
        <span class="nav-text">
          Recargas
        </span>
      </a>
    </li>

    <li class="has-subnav">
      <a class="nav-link active-link" [routerLink]="['/redessoc']" routerLinkActive="active-link">
        <i class="fa fa-camera-retro fa-2x"></i>
        <span class="nav-text">
          Redes Sociales
        </span>
      </a>
    </li>

  </ul>

  <ul class="logout">
      <li>
          <a >
            <i class="fa fa-user fa-2x"></i>
            <span class="nav-text">
              User
            </span>
          </a>
        </li>
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
