
<nav class="navbar navbar-expand-lg navbar-dark ">

  <div class="container-md">
    
    <a [routerLink]="['/home']" class="navbar-brand">
      <img class="img" src="../../../assets/logo/telcowhite.png" alt="Logo Page" width="120px">
      Telco Call
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
        <!-- <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/catalogo']" routerLinkActive="active-link" >Catalogo</a>
        </li> -->
        
        <!-- <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/posts']" routerLinkActive="active-link" >Posts</a>
        </li> -->
      </ul>
      <div class="flex-shrink-0 dropdown" bis_skin_checked="1">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow " style="">
          <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >Profile</a></li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" >Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
